@model Point_of_sale_system.Models.purchase


@{
    ViewBag.Title = "NewPurchase";
    Layout = "~/Views/Shared/_AdminSharedView.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="col-md-11" style="margin-left:3%">
    <!-- ********** ALERT MESSAGE START******* -->
    <div class="col-md-12">
        <!-- ********** ALERT MESSAGE START******* -->
        <div class="alert alert-success  text-left">
            <a href="javascript:void()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>
                Ultimate Inventory with POS new Version 1.7.6 released , Faster and Customizable Application Software. If you have any queries please message <a target='_blank' href='https://codecanyon.net/item/ultimate-inventory-with-pos/23992003/comments'>here</a>. [Some features are disabled in demo and it will be reset after each hour.]
            </strong>
        </div>
        <!-- ********** ALERT MESSAGE END******* -->
    </div>               <!-- ********** ALERT MESSAGE END******* -->
</div>
<div class="col-md-11" style="margin-left:3%">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    @using (Html.BeginForm("NewPurchase", "Purchase", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "purchase-form" }))
                    {
                        @*<form action="~/assets/index.php/#" class="form-horizontal" id="purchase-form" enctype="multipart/form-data" method="POST" accept-charset="utf-8">*@
                        <input type="hidden" name="csrf_test_name" value="a8f5c96e331a6014495303119a457634" />
                        <input type="hidden" id="base_url" value="~/assets/">
                        <input type="hidden" value='1' id="hidden_rowcount" name="hidden_rowcount">
                        <input type="hidden" value='0' id="hidden_update_rowid" name="hidden_update_rowid">

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div id="general-info" class="section general-info">
                            <div class="info">
                                <h6 class="">General Information</h6>
                                <div class="row">
                                    <div class="col-lg-11 mx-auto">
                                        <div class="row">
                                            <div class="col-xl-1 col-lg-10 col-md-2">
                                                @*<div class="upload mt-4 pr-md-4">
                                                        <input type="file" id="input-file-max-fs" class="dropify" data-default-file="assets/img/user-profile.jpeg" data-max-file-size="15M" name="ImageofUser" required />
                                                        <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Upload Picture</p>
                                                    </div>*@
                                            </div>
                                            <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                <div class="form">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            @*<label for="supplier_id">Supplier Name<label class="text-danger">*</label></label>*@
                                                            <label for="Supplier">Supplier Name<span class="text-danger">*</span>@*<label class="text-danger">*</label>*@</label>
                                                            <div class="input-group">
                                                                @Html.DropDownListFor(item => @Model.SupplierID, ViewBag.SupplierList as SelectList, "--- Select Supplier ----", new { @class = "form-control", @id = "dropdown_Supplier", required = "required" })
                                                                @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                                                                @*<button class="btn btn-secondary" id="btn-new_supplier" >New</button>*@
                                                                <a class="btn btn-info" href="@Url.Action("NewSupplier","Users")">New</a>
                                                            </div>
                                                            <span id="supplier_id_msg" style="display:none" class="text-danger"></span>


                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="fatherName">Today Date</label>
                                                                <div class="input-group date">
                                                                    <div class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                    </div>
                                                                    <input type="text" class="form-control pull-right datepicker" id="pur_date" name="pur_date" readonly onkeyup="shift_cursor(event,'purchase_status')" value="@DateTime.Now.ToString("dddd, dd MMMM yyyy")">
                                                                </div>
                                                                <span id="pur_date_msg" style="display:none" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            @*<label for="supplier_id">Supplier Name<label class="text-danger">*</label></label>*@
                                                            <label for="status">Status<span class="text-danger">*</span>@*<label class="text-danger">*</label>*@</label>
                                                            <div class="input-group">
                                                                <select class="form-control select2" id="supplier_id" name="supplier_id" onkeyup="shift_cursor(event,'mobile')">
                                                                    <!-- <option value="">-Select-</option> -->
                                                                    <option value="Received">Received</option>
                                                                    <option value="Pending">Pending</option>
                                                                    <option value="Ordered">Ordered</option>
                                                                </select>
                                                            </div>
                                                            <span id="supplier_id_msg" style="display:none" class="text-danger"></span>


                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="Reference Number">Reference No.:</label>
                                                                <div class="input-group">
                                                                    @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Reference..." ,@onkeyup="myFunction()",@id="supply"} })
                                                                    @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
                                                                </div>
                                                                <span id="pur_date_msg" style="display:none" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class=" col-sm-12">
                                                            <hr style="border:0.1px solid white" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label for="role">Items</label>
                                                                @Html.DropDownListFor(item => @Model.ItemID, ViewBag.ItemList as SelectList, "---------------", new { @class = "form-control", required = "required", @id = "Hello" })
                                                                @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">

                                                <div class="form-group">
                                                    <div class="table-responsive mb-4 mt-4">
                                                        <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Code</th>
                                                                    <th>Name</th>
                                                                    <th>Quantity</th>
                                                                    <th>Expiry Date</th>
                                                                    <th>Image</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="Item_table_data">
                                                                <tr>
                                                                    <td>
                                                                        <p><span id="Dataaaraaa"></span></p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class=" col-sm-12">
                                                <hr style="border:0.1px solid white" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-11 mx-auto">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <span style="color:aliceblue; font-size:25px;">Total Quantaties:</span><span style="font-size:25px;" class="text-success"> 20 </span>
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <span>Other Charges:</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Father Name..." } })
                                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Father Name..." } })
                                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <br />
                                                            <br />
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <span>Discount on All:</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Father Name..." } })
                                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Father Name..." } })
                                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group text-center">
                                                            <span style="color:aliceblue; font-size:20px;">Subtotal:</span><span style="font-size:20px;" class="text-success"> 20 </span><br />
                                                            <span style="color:aliceblue; font-size:20px;">Other Charges:</span><span style="font-size:20px;" class="text-success"> 20 </span><br />
                                                            <span style="color:aliceblue; font-size:20px;">Discount on All:</span><span style="font-size:20px;" class="text-success"> 20 </span><br />
                                                            <span style="color:aliceblue; font-size:20px;">Grand Total:</span><span style="font-size:20px;" class="text-success"> 20 </span><br />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class=" col-sm-12">
                                                <hr style="border:0.1px solid white" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">

                                                <div class="form-group">
                                                    <div class="table-responsive mb-4 mt-4">
                                                        <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>Code</th>
                                                                    <th>Name</th>
                                                                    <th>Quantity</th>
                                                                    <th>Expiry Date</th>
                                                                    <th>Image</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-11 mx-auto">
                                                <h5 class="">Make Payment</h5>
                                                <div class="edu-section">
                                                    <div class="row">

                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="degreename">Degree Name</label>
                                                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Father Name..." } })
                                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <label for="endingDate">Ending Date</label>
                                                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Father Name..." } })
                                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-8">
                                                            <div class="form-group">
                                                                <label for="degree1">Enter Your Collage Name</label>
                                                                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Father Name..." } })
                                                                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-11 mx-auto">
                                                <hr style="border:solid 0.1px white" />
                                                <button type="submit" class="btn btn-primary mt-3">Save</button>
                                                <button type="reset" class="btn btn-danger mt-3">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @*<div class="account-settings-footer">

            <div class="as-footer-container">

                <button id="multiple-reset" class="btn btn-primary">Reset All</button>
                <div class="blockui-growl-message">
                    <i class="flaticon-double-check"></i>&nbsp; Settings Saved Successfully
                </div>
                <button id="multiple-messages" class="btn btn-dark">Save Changes</button>

            </div>

        </div>*@
</div>

<!--  END CONTENT AREA  -->
<!-- END MAIN CONTAINER -->




<script type="text/javascript">

    $("#Hello").change(function () {
        alert("Hello");
    });


    //function myFunction() {

    //    var x = document.getElementById("fname").value;
    //    document.getElementById("Dataaaraaa").innerHTML = x;
    //}
</script>
<script>
    function myFunction() {
        var x = document.getElementById("supply").value;
        document.getElementById("Dataaaraaa").innerHTML = x;
    }
</script>