@model Point_of_sale_system.Models.purchase


@{
    ViewBag.Title = "NewPurchase";
    Layout = "~/Views/Shared/_AdminSharedView.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<style>
    .remove {
        width: 30px;
        height: 30px;
        font-size: 20px;
        background-color: tomato;
        color: white;
        border: none;
        border-radius: 15px;
    }

    tr:hover {
        cursor: move;
    }

    button:hover {
        cursor: pointer;
    }
    table input{
        width:60px;
    }
    #table_q_btn{
        border:none;
        color:darkblue;
    }

</style>
<div class="col-md-11" style="margin-left:3%">
    <!-- ********** ALERT MESSAGE START******* -->
    <div class="col-md-12">
        <!-- ********** ALERT MESSAGE START******* -->
        <div class="alert alert-success  text-left">
            <a href="javascript:void()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>
                Ultimate Inventory with POS new Version 1.7.6 released , Faster and Customizable Application Software. If you have any queries please message <a target='_blank' href='https://codecanyon.net/item/ultimate-inventory-with-pos/23992003/comments'>here</a>. [Some features are disabled in demo and it will be reset after each hour.]
            </strong>
        </div>
        <!-- ********** ALERT MESSAGE END******* -->
    </div>               <!-- ********** ALERT MESSAGE END******* -->
</div>
<div class="col-md-11" style="margin-left:3%">
    <div class="account-content">
        <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                    @using (Html.BeginForm("NewPurchase", "Purchase", FormMethod.Post, new { @enctype = "multipart/form-data", @id = "purchase-form" }))
                    {
                        @*<form action="~/assets/index.php/#" class="form-horizontal" id="purchase-form" enctype="multipart/form-data" method="POST" accept-charset="utf-8">*@
                        <input type="hidden" name="csrf_test_name" value="a8f5c96e331a6014495303119a457634" />
                        <input type="hidden" id="base_url" value="~/assets/">
                        <input type="hidden" value='1' id="hidden_rowcount" name="hidden_rowcount">
                        <input type="hidden" value='0' id="hidden_update_rowid" name="hidden_update_rowid">

                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div id="general-info" class="section general-info">
                            <div class="info">
                                <h6 class="">General Information</h6>
                                <div class="row">
                                    <div class="col-lg-12 mx-auto">
                                        <div class="row">
                                            <div class="col-xl-1 col-lg-10 col-md-2">
                                                @*<div class="upload mt-4 pr-md-4">
                                                        <input type="file" id="input-file-max-fs" class="dropify" data-default-file="assets/img/user-profile.jpeg" data-max-file-size="15M" name="ImageofUser" required />
                                                        <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Upload Picture</p>
                                                    </div>*@
                                            </div>
                                            <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                <div class="form">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            @*<label for="supplier_id">Supplier Name<label class="text-danger">*</label></label>*@
                                                            <label for="Supplier">Supplier Name<span class="text-danger">*</span>@*<label class="text-danger">*</label>*@</label>
                                                            <div class="input-group">
                                                                @Html.DropDownListFor(item => @Model.SupplierID, ViewBag.SupplierList as SelectList, "--- Select Supplier ----", new { @class = "form-control", @id = "dropdown_Supplier", required = "required" })
                                                                @Html.ValidationMessageFor(model => model.SupplierID, "", new { @class = "text-danger" })
                                                                @*<button class="btn btn-secondary" id="btn-new_supplier" >New</button>*@
                                                                <a class="btn btn-info" href="@Url.Action("NewSupplier","Users")">New</a>
                                                            </div>
                                                            <span id="supplier_id_msg" style="display:none" class="text-danger"></span>


                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="fatherName">Today Date</label>
                                                                <div class="input-group date">
                                                                    <div class="input-group-addon">
                                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                                    </div>
                                                                    <input type="text" class="form-control pull-right datepicker" id="pur_date" name="pur_date" readonly onkeyup="shift_cursor(event,'purchase_status')" value="@DateTime.Now.ToString("dddd, dd MMMM yyyy")">
                                                                </div>
                                                                <span id="pur_date_msg" style="display:none" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            @*<label for="supplier_id">Supplier Name<label class="text-danger">*</label></label>*@
                                                            <label for="status">Status<span class="text-danger">*</span>@*<label class="text-danger">*</label>*@</label>
                                                            <div class="input-group">
                                                                <select class="form-control select2" id="supplier_id" name="supplier_id" onkeyup="shift_cursor(event,'mobile')">
                                                                    <!-- <option value="">-Select-</option> -->
                                                                    <option value="Received">Received</option>
                                                                    <option value="Pending">Pending</option>
                                                                    <option value="Ordered">Ordered</option>
                                                                </select>
                                                            </div>
                                                            <span id="supplier_id_msg" style="display:none" class="text-danger"></span>


                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label for="Reference Number">Reference No.:</label>
                                                                <div class="input-group">
                                                                    @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Reference...", @onkeyup = "myFunction()", @id = "supply" } })
                                                                    @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
                                                                </div>
                                                                <span id="pur_date_msg" style="display:none" class="text-danger"></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class=" col-sm-12">
                                                            <hr style="border:0.1px solid white" />
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group">
                                                                <label for="role">Items</label>
                                                                @Html.DropDownListFor(item => @Model.ItemID, ViewBag.ItemList as SelectList, "---------------", new { @class = "form-control", required = "required", @id = "Hello" })
                                                                @Html.ValidationMessageFor(model => model.ItemID, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">
                                                <div class="form-group">
                                                    <div class="table-responsive">
                                                        <table class="table-bordered table-striped mb-4" style="width:100%" id="Items_table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Item Name</th>
                                                                    <th colspan="2">Quantity</th>
                                                                    <th>Purchase Price</th>
                                                                    <th>Tax%</th>
                                                                    <th>Tax Amount</th>
                                                                    <th>Discount</th>
                                                                    <th>Unit Cost</th>
                                                                    <th>Total Amount</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="Item_table_data">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class=" col-sm-12">
                                                <hr style="border:0.1px solid white" />
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-11 mx-auto">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <span style="color:aliceblue; font-size:25px;">Total Quantaties:</span><span style="font-size:25px;" class="text-success"> 0 </span>
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <br />
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <span>Other Charges:</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        @Html.EditorFor(model => model.otherCharges, new { htmlAttributes = new { @class = "form-control mb-4", required = "required" } })
                                                                        @Html.ValidationMessageFor(model => model.otherCharges, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "None" } })
                                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        <span>Discount on All:</span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <div class="form-group">
                                                                        @Html.EditorFor(model => model.DiscountonAll, new { htmlAttributes = new { @class = "form-control mb-4", required = "required" } })
                                                                        @Html.ValidationMessageFor(model => model.DiscountonAll, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "%" } })
                                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <div class="form-group">
                                                                        <span> Note: <span class="text-danger">*</span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-8">
                                                                    <div class="form-group">

                                                                        @Html.TextAreaFor(model => model.Note, new { @class = "form-control", placeholder = "Note", rows = "4", required = "required" })
                                                                        @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group text-center">
                                                            <span style="color:aliceblue; font-size:20px;">Subtotal:</span><span style="font-size:20px;" class="text-success"> 20 </span><br />
                                                            <span style="color:aliceblue; font-size:20px;">Other Charges:</span><span style="font-size:20px;" class="text-success"> 20 </span><br />
                                                            <span style="color:aliceblue; font-size:20px;">Discount on All:</span><span style="font-size:20px;" class="text-success"> 20 </span><br />
                                                            <span style="color:aliceblue; font-size:20px;">Grand Total:</span><span style="font-size:20px;" class="text-success"> 20 </span><br />

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class=" col-sm-12">
                                                <hr style="border:0.1px solid white" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ">

                                                <div class="form-group">
                                                    <div class="table-responsive mb-4 mt-4">
                                                        <table id="html5-extension" class="table table-hover non-hover" style="width:100%">
                                                            <thead>
                                                                <tr>
                                                                    <th>#</th>
                                                                    <th>Date</th>
                                                                    <th>Payment Type</th>
                                                                    <th>Payment Note</th>
                                                                    <th>Payment</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="Supplier_Old_data">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-11 mx-auto">
                                                <h5 class="">Make Payment</h5>
                                                <div class="edu-section">
                                                    <div class="row" style="background-color:rgb(7, 36, 82)">

                                                        <div class="col-md-12">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="degreename">Amount</label>
                                                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required" } })
                                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="endingDate">Payment Type</label>
                                                                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Payment Type" } })
                                                                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="degree1">Note</label>
                                                                @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control mb-4", required = "required" } })
                                                                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-11 mx-auto">
                                                <hr style="border:solid 0.1px white" />
                                                <button type="submit" class="btn btn-primary mt-3">Save</button>
                                                <button type="reset" class="btn btn-danger mt-3">Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @*<div class="account-settings-footer">

            <div class="as-footer-container">

                <button id="multiple-reset" class="btn btn-primary">Reset All</button>
                <div class="blockui-growl-message">
                    <i class="flaticon-double-check"></i>&nbsp; Settings Saved Successfully
                </div>
                <button id="multiple-messages" class="btn btn-dark">Save Changes</button>

            </div>

        </div>*@
</div>

<!--  END CONTENT AREA  -->
<!-- END MAIN CONTAINER -->

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script>

    //var htmlforItemTable = '<tr><td></td ><td></td><td></td><td></td><td></td><td></td><td><button class="remove">-</button></td></tr >';
    var htmlforSupplierTable = '<tr><td></td ><td></td><td></td><td></td><td></td><td><button class="remove">-</button></td></tr >';

    $('tbody').sortable();

    //$('#addRow').click(function () {
    //    $('tbody').append(html);
    //});
    $("#Hello").change(function () {
        
        //var id = $(this).data("id");
        //console.log(id);
        //$.ajax({
        //    type: "GET",
        //    url:"/Purchase/NewPurchase"
        //    /*"/Company/Edit_Company/?CompanyiD=" + id + ""*/,
        //    //data: "{CompanyiD:" + id + "}",
        //    contentType: 'application/json; charset=utf-8',
        //    dataType: 'json',
        //    success: function (d) {
        //        //var dd = JSON.parse(d).d;
        //        //var department = JSON.parse(dd);
        //        //console.log(department);

        //        console.log(d);
        //    }
        //});
        //var ValueFromInput = document.getElementById("#Hello").value;
        
        var ValueFromInput = $('#Hello option:selected').val();
        $.ajax({
            type: "GET",
            url: "/Purchase/PurchaseData/?Id=" + ValueFromInput,
            /*"/Company/Edit_Company/?CompanyiD=" + id + ""*/
            data: "{id:" + ValueFromInput + "}",
            dataType: 'Json',
            success: function (data) {
                var SalesPrice = data.price;
                var Tax = data.tax;
                var ans = (SalesPrice / 100) * Tax;
                
                var htmlforItemTable = '<tr class="Table"><td><span style="color:White">' + data.Name + '</span></td ><td colspan="2"> <div><button id="table_q_btn">-</button> <input type="text"/><button id="table_q_btn">+</button> </div> </td >'
                    + '<td><input type="text" value="' + SalesPrice + '"/></td><td><input type="text" value="' + Tax +'" disabled/></td>'
                    + '<td><input type="text" value="' + ans + '"/></td><td><input type="text" onkeyup="functioncalculate()" id="DiscountValu"/></td><td><span style="color:White">' + SalesPrice +'</span></td><td><span style="color:White">' + SalesPrice+'</span></td><td><button class="remove">-</button></td></tr >';
                $("#itemName").val(data.Name);
                $('#Item_table_data').append(htmlforItemTable);
                
            },
            error: function (error) {
                console.log(error);
            }

        });
    });
    function keyup() {
        var a = $(this).closest('tr').find('.1a').val();
        var b = $(this).val();
        $(this).closest('tr').find('.tot').val(a * b);
        calculateSum();
    }
    function functioncalculate() {
        var x = document.getElementById("DiscountValu").value;
        var answerDiscount = x * 100;
        var a = $(this).closest('tr').find('.1a').val();
        alert(a);
        console.log(a);
        var b = $(this).val();
        alert(b);
        console.log(b);

        $(this).closest('tr').find('.tot').val(a * b);
        calculateSum();
        alert(answerDiscount);
    }
    $("#dropdown_Supplier").change(function () {
        $('#Supplier_Old_data').append(htmlforSupplierTable);
    });

    $(document).on('click', '.remove', function () {
        $(this).parents('tr').remove();
    });

    $('#getValues').click(function () {
        var values = [];
        $('input[name="name"]').each(function (i, elem) {
            values.push($(elem).val());
        });
        alert(values.join(', '));
    });
</script>

<script type="text/javascript">

    //$("#Hello").change(function () {
    //    alert("Hello");
    //});


    //function myFunction() {

    //    var x = document.getElementById("fname").value;
    //    document.getElementById("Dataaaraaa").innerHTML = x;
    //}
</script>
<script>
    function myFunction() {
        var x = document.getElementById("supply").value;

        document.getElementById("Dataaaraaa").innerHTML = x;
    }
</script>