@model Point_of_sale_system.Models.User
@{
    ViewBag.Title = "NewEmployee";
    Layout = "~/Views/Shared/_AdminSharedView.cshtml";
}


<!--  BEGIN CONTENT AREA  -->
    <div class="layout-px-spacing">

        <div class="account-settings-container layout-top-spacing">

            <div class="account-content">
                <div class="scrollspy-example" data-spy="scroll" data-target="#account-settings-scroll" data-offset="-100">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 layout-spacing">
                            @using (Html.BeginForm("NewEmployee", "Users", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                            {

                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div id="general-info" class="section general-info">
                                    <div class="info">
                                        <h6 class="">General Information</h6>
                                        <div class="row">
                                            <div class="col-lg-11 mx-auto">
                                                <div class="row">
                                                    <div class="col-xl-2 col-lg-12 col-md-4">
                                                        <div class="upload mt-4 pr-md-4">
                                                            <input type="file" id="input-file-max-fs" class="dropify" data-default-file="assets/img/user-profile.jpeg" data-max-file-size="15M" name="ImageofUser" required/>
                                                            <p class="mt-2"><i class="flaticon-cloud-upload mr-1"></i> Upload Picture</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-10 col-lg-12 col-md-8 mt-md-0 mt-4">
                                                        <div class="form">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="fullName">Full Name</label>
                                                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Name..." } })
                                                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="fatherName">Father Name</label>
                                                                        @Html.EditorFor(model => model.FatherName, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Father Name..." } })
                                                                        @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label for="role">Role</label>
                                                                @Html.DropDownListFor(item => @Model.RoleID, ViewBag.Role as SelectList, "--- Select Category ----", new { @class = "form-control", required = "required" })
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="password">Password</label>
                                                                        @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Password..." } })
                                                                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="form-group">
                                                                        <label for="cpassword">Confirm Password</label>
                                                                        @Html.EditorFor(model => model.cpassword, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Confirm Password..." } })
                                                                        @Html.ValidationMessageFor(model => model.cpassword, "", new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-11 mx-auto">
                                                        <div class="form-group">
                                                            <label for="aboutBio">Bio</label>
                                                            @Html.TextAreaFor(model => model.Bio, new { @class = "form-control", placeholder = "Tell something interesting about yourself", rows = "5", required = "required"  })
                                                            @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-11 mx-auto">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="country">Country</label>
                                                                    @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Country..." } })
                                                                    @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="state">State</label>
                                                                    @Html.EditorFor(model => model.stateOfCountry, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "State..." } })
                                                                    @Html.ValidationMessageFor(model => model.stateOfCountry, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>

                                                            <div class="col-md-4">
                                                                <div class="form-group">
                                                                    <label for="city">City</label>
                                                                    @Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "City..." } })
                                                                    @Html.ValidationMessageFor(model => model.city, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-8">
                                                                <div class="form-group">
                                                                    <label for="address">Address</label>
                                                                    @Html.EditorFor(model => model.Addres, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Address..." } })
                                                                    @Html.ValidationMessageFor(model => model.Addres, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="email">Email</label>
                                                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Email (eg. taqi@example.com)" } })
                                                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                                                   
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="mobile">Mobile No.</label>
                                                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Mobile Number..." } })
                                                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-11 mx-auto">
                                                        <h5 class="">Education</h5>
                                                        <div class="edu-section">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="degree1">Enter Your Collage Name</label>
                                                                        @Html.EditorFor(model => model.CollegeName, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Enter College Name..." } })
                                                                        @Html.ValidationMessageFor(model => model.CollegeName, "", new { @class = "text-danger" })

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12">
                                                                    <div class="row">
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label for="degreename">Degree Name</label>
                                                                                @Html.EditorFor(model => model.DegreeName, new { htmlAttributes = new { @class = "form-control mb-4", required = "required", placeholder = "Enter Degree Name..." } })
                                                                                @Html.ValidationMessageFor(model => model.DegreeName, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label for="startingDate">Starting From</label>

                                                                                @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control mb-4", type="date",required = "required" } })
                                                                                @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-4">
                                                                            <div class="form-group">
                                                                                <label for="endingDate">Ending Date</label>
                                                                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control mb-4",type="date", required = "required" } })
                                                                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-11 mx-auto">
                                                        <hr style="border:solid 0.1px white" />
                                                        <button type="submit" class="btn btn-primary mt-3">Save</button>
                                                        <button type="reset" class="btn btn-danger mt-3">Reset</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="account-settings-footer">

                <div class="as-footer-container">

                    <button id="multiple-reset" class="btn btn-primary">Reset All</button>
                    <div class="blockui-growl-message">
                        <i class="flaticon-double-check"></i>&nbsp; Settings Saved Successfully
                    </div>
                    <button id="multiple-messages" class="btn btn-dark">Save Changes</button>

                </div>

            </div>*@
        </div>

    </div>
<!--  END CONTENT AREA  -->
<!-- END MAIN CONTAINER -->

<script>$(document).ready(function() {
            App.init();
        });</script>