@model IEnumerable<Point_of_sale_system.Models.Expens>

@{
    ViewBag.Title = "ViewExpenses";
    Layout = "~/Views/Shared/_AdminSharedView.cshtml";
}

<h2>ViewExpenses</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Today_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expensefor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenceNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategoryID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Today_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expensefor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
        <td>
            @Html.ActionLink("EditExpenses", "EditExpenses", new { id = item.ID }) |
            @Html.ActionLink("Details", "#", new { id = item.ID }) |
            <a href="#" data-toggle="modal" onclick="ConfirmDelete(@item.ID)" data-target="#delete_Expense"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
        </td>
    </tr>
}

</table>
@* Delete the Record through Modal *@
<div id="delete_Expense" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content modal-md">
            <div class="modal-header">
                <h4 class="modal-title">Delete Department</h4>
            </div>
            <div class="modal-body card-box">

                <input type="text" id="Department_id"/>

                <p>Are you sure want to delete this?</p>
                <div class="m-t-20 text-left">
                    <a href="#" class="btn btn-default" data-dismiss="modal">Close</a>
                    <button type="submit" id="Btn_Delete" onclick="deletee()" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Script for Delete Model*@
<script>
    var ConfirmDelete = function (Desi_id) {
        $("#Department_id").val(Desi_id);
    };

    var deletee = function () {

        var idd = $("#Department_id").val();
        $.ajax({

            type: "post",
            url: "/Expense/deleteExpense",
            data: { Desi_id: idd },
            success: function (result) {

                $("Department_id").val(null);
                $("#delete_Expense").modal('hide');
                window.location.href = "/Expense/ViewExpenses";
            }


        })

    }
</script>